doctype html
html(lang='en')
  head
    title Welcome
    link(rel='stylesheet', href='/stylesheets/bootstrap.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    nav.navbar.navbar-expand-lg.navbar-light.bg-light.rounded
      a.navbar-brand(href='#') NodeAuth
      button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarsExample09', aria-controls='navbarsExample09', aria-expanded='false', aria-label='Toggle navigation')
        span.navbar-toggler-icon
      #navbarsExample09.collapse.navbar-collapse
        ul.navbar-nav.mr-auto
          li.nav-item(class=(title == "Members" ? 'active': ''))
            a.nav-link(href='/')
              | Members 
              //- span.sr-only (current)
          li.nav-item(class=(title == "Register" ? 'active': ''))
            a.nav-link(href='/users/register') Register
          li.nav-item(class=(title == "Login" ? 'active': ''))
            a.nav-link(href='/users/login') Login
        ul.navbar-nav.navbar-right
          li.nav-item
            a(href='/users/logout') Logout
          
    br
    br
    .container
      != messages()
      block content

    script(src='javascripts/jquery.min.js')
    script(src='javascripts/bootstrap.js')
