<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Albumz</title>
    <link rel="stylesheet" href="https://bootswatch.com/4/slate/bootstrap.min.css">
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container">
            <a class="navbar-brand" href="#">Albumz</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar" aria-controls="navbar" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbar">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="/users/register">Register
                            <span class="sr-only">(current)</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/users/login">Login</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <hr>
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <ul class="list-group">
                    <li class="list-group-item">
                        <a href="/albums">View Albums</a>
                    </li>
                    <li class="list-group-item">
                        <a href="/genres">View Genres</a>
                    </li>
                </ul>
            </div>
            <div class="col-md-9">
                <% if (success_msg != false) { %>
                    <div class="alert alert-success">
                        <%= success_msg  %>
                    </div>
                <% } %>
                <% if (error_msg != false) { %>
                    <div class="alert alert-danger">
                        <%= error_msg  %>
                    </div>
                <% } %>
</body>

</html>